@model IEnumerable<ST.Core.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9 col-md-offset-1">
    <h2>Categories</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="action" href="@Url.Action("Edit", new { id = item.Id })">
                        <span class="glyphicon glyphicon-edit"></span> |
                    </a>
                    <a class="action" href="@Url.Action("Details", new { id = item.Id })">
                        <span class="glyphicon glyphicon-info-sign"></span> |
                    </a>
                    <a class="action" href="@Url.Action("Delete", new { id = item.Id})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
