@model GH.WebUI.Core.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}


<div class="details-header">
    <h2>@Model.Gig.Artist.Name</h2>

    @if (User.Identity.IsAuthenticated)
    {
        <button class="btn @(Model.IsFollowing == true ? "btn-info" : "btn-default")
                       js-toggle-follow"
                data-user-id="@Model.Gig.ArtistId">
            @(Model.IsFollowing == true ? "Following" : "Follow")
        </button>
    }
</div>

<p>
    Perfoming at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>

@if (User.Identity.IsAuthenticated && Model.IsGoing)
{
    <p>You are going to this event.</p>
}

@section scripts
{
    <script>
        $(function () {
            GigDetailsController.init();
        });
    </script>
}
